.fu_input {
	visibility: hidden;
	height: 0;
}
.fu {
	border: 2px dashed #bbb;
	padding: 20px;
	text-align: center;
	font: 12pt bold;
	color: #bbb;
}
.fu.hover {
  border: 3px dashed green;
}
.loading {
  color: black;
  background-color: hsl(0, 100%, 50%); /*red*/
  -webkit-animation: hue 3s infinite alternate;
}
@-webkit-keyframes hue {
  /*hue will animate from 0 to 360. Saturation and Lightness remain constant*/
  20% {background-color: hsl(72, 100%, 50%);}
  40% {background-color: hsl(144, 100%, 50%);}
  60% {background-color: hsl(216, 100%, 50%);}
  80% {background-color: hsl(288, 100%, 50%);}
  100% {background-color: hsl(360, 100%, 50%);}
}
.success {
  color: white;
  background: green;
}

.error {
  color: white;
  background: red;
}

#messageDiv {
  padding: 20px 10px;
}

#messageDiv div {
  padding: 10px 5px;
  margin: 10px 5px;
  border: 1px dashed gray;
}